* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color1: #2260bf;
  --color2: #84a4d5;
  --color3: #b50404;
  --color4: rgb(255, 255, 255);
  --color5: rgba(34, 96, 191, 0.08);
  --color6: rgba(105, 104, 104, 0.788);
  --color7: #5b87a0ec;
}

.starter-logo-container {
  padding: 1em 0 1em 3.8em;
}

.starter-logo {
  max-width: 268px;
}

.nav-bar {
  background-color: var(--color1);
  position: sticky;
  top: 0;
}

.nav-bar-list {
  padding: 0.8em 0 0.8em 0;
  color: var(--color4);
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-bar-list-items {
  font-size: 1.2rem;
  font-weight: 900;
}

.nav-bar-list-items:hover {
  cursor: pointer;
  color: var(--color2);
}

.nav-btn {
  cursor: pointer;
  color: var(--color3);
  border: none;
  border-radius: 5px;
  padding: 0.6em 1em 0.6em 1em;
  font-size: 1rem;
  font-weight: 900;
}

.btn-election {
  padding: 0.5em 1em 0.5em 1em;
  background-color: var(--color3);
  color: var(--color4);
}

.btn-english:hover {
  background-color: var(--color3);
  color: var(--color4);
}

.profile-image {
  width: 30px;
  border-radius: 100px;
}

.container-1 {
  display: grid;
  grid-template-columns: 80% 20%;
  padding: 1em 4em 1em 1em;
}

.hot-topics {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.hot-topics-list {
  display: flex;
  align-items: center;
  gap: 0.7em;
  cursor: pointer;
}

.hot-topics-list img {
  width: 30px;
}

.hot-topics-list span {
  font-weight: 600;
}

.search-box {
  background-color: var(--color5);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.search-field {
  border: none;
  outline: none;
  padding: 0.4em 0em 0.4em 0.4em;
  background-color: transparent;
}

.search-icon {
  width: 15px;
  align-items: center;
  vertical-align: middle;
  cursor: pointer;
}

.footer-main1 {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  padding: 4em;
}

.main1-items {
  display: flex;
  flex-direction: column;
  gap: 1.3em;
}

.main1-items h3 {
  color: var(--color1);
  font-size: 1.4rem;
  font-weight: 600;
}

.main1-items ul li {
  list-style: none;
  color: var(--color6);
  cursor: pointer;
  padding-bottom: 0.5em;
  font-weight: 600;
}

.main1-items ul li:hover {
  color: var(--color1);
}

.footer-main2 {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  padding: 2em;
  background-color: var(--color7);
}

.footer-logo {
  width: 220px;
}

.main2-items {
  padding: 0.8em;
  border-right: 2px solid black;
}
