* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color1: #2260bf;
  --color2: #84a4d5;
  --color3: #b50404;
  --color4: rgb(255, 255, 255);
  --color5: rgba(34, 96, 191, 0.08);
  --color6: rgba(105, 104, 104, 0.788);
  --color7: #b0d2e2ec;
  --color8: #dbe1e6;
  --color9: #102c57;
  --color10: rgb(82, 82, 82);
}

.starter-logo-container {
  padding: 1em 0 1em 3.8em;
}

.starter-logo {
  max-width: 268px;
}

.nav-bar {
  background-color: var(--color1);
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav-bar-list {
  padding: 0.8em 0 0.8em 0;
  color: var(--color4);
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-bar-list-items {
  font-size: 1.2rem;
  font-weight: 900;
}

.nav-bar-list-items:hover {
  cursor: pointer;
  color: var(--color2);
}

.nav-btn {
  cursor: pointer;
  color: var(--color3);
  border: none;
  border-radius: 5px;
  padding: 0.6em 1em 0.6em 1em;
  font-size: 1rem;
  font-weight: 900;
}

.btn-election {
  padding: 0.5em 1em 0.5em 1em;
  background-color: var(--color3);
  color: var(--color4);
}

.btn-english:hover {
  background-color: var(--color3);
  color: var(--color4);
}

.profile-image {
  width: 30px;
  border-radius: 100px;
}

.container-1 {
  display: grid;
  grid-template-columns: 80% 20%;
  padding: 1em 4em 1em 1em;
}

.hot-topics {
  display: flex;
  justify-content: space-evenly;
}

.hot-topics-list {
  display: flex;
  align-items: center;
  gap: 0.7em;
  cursor: pointer;
}

.hot-topics-list img {
  width: 30px;
}

.hot-topics-list span {
  font-weight: 600;
}

.search-box {
  background-color: var(--color5);
  border-radius: 50px;
  display: flex;
  justify-content: space-around;
}

.search-field {
  border: none;
  outline: none;
  padding: 0.4em 0em 0.4em 0.4em;
  background-color: transparent;
}

.search-icon {
  width: 15px;
  vertical-align: middle;
  cursor: pointer;
}

.container-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-2-heading {
  font-size: 3.8rem;
  color: var(--color9);
  cursor: pointer;
  padding: 0.6em 0 0 0;
}

.container-2-heading:hover {
  color: var(--color1);
}

.container-2-div1 {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 0 0 1.5em 0;
}

.container-2-div1>img:not(:first-child) {
  width: 15px;
}

.container-2-div1 span {
  font-size: medium;
  font-weight: bold;
}

.container-2-ok-icon {
  width: 45px;
  padding: 0.4em;
  border: 1px solid rgb(192, 188, 188);
  border-radius: 100px;
}

.container-2-img1 {
  border-radius: 8px;
}

.container-2-p1 {
  padding: 1.5em;
  color: var(--color10);
  text-align: center;
  font-size: 1.3rem;
  line-height: 1.8;
  font-weight: 600;
}

/* Manoranjan section */
.manoranjan-section {
  background-color: #382B46;
  color: white;
  padding: 120px;
  padding: 50px 110px;
}

.manoranjan-section .top-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}


.manoranjan-section .heading {
  font-size: 60px;
  padding-right: 20px;
}


.manoranjan-section .top-part .left-part {
  display: flex;
}

.manoranjan-section .top-part .links {
  display: flex;
  align-items: center;
  gap: 18px;
  font-weight: bold;
}

.manoranjan-section .top-part .slash {
  opacity: 0.3;

}

.manoranjan-section .down-part {
  display: flex;
  /* flex: 1 1 1; */
  gap: 35px;
}

.manoranjan-section .down-part img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  transition: 0.5s all linear;
}


.image-container {
  flex: 1;
  height: 560px;
  position: relative;
  overflow: hidden;
  transition: 0.5 all linear;
  cursor: pointer;
}

.manoranjan-section .down-part .third-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.manoranjan-section .down-part div p {
  position: absolute;
  bottom: 30px;
  z-index: 1;
  padding: 0 30px;
  font-size: 34px;
  font-weight: bold;
  text-align: center;
}

.manoranjan-section .down-part .third-div div {
  position: relative;
  overflow: hidden;
  transition: 0.5 all linear;
  cursor: pointer;
}

.manoranjan-section .down-part .third-div div p {
  font-size: 25px;
}

.manoranjan-section .down-part img:hover {
  transform: scale(1.05);
}

/* Xutaunuvayo ki kya ho  */
.cards-xutaunuvayo h1 {
  color: #2260BF;
  font-weight: bolder;
  font-size: 40px;
  padding: 60px 0px 40px 130px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 50px;
  padding: 0 130px;
  margin-bottom: 50px;
}

.grid-item {
  position: relative;
  background-color: white;
  border-radius: 8px;
  height: 380px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
}

.grid-item h3 {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  color: white;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.grid-container img {
  transition: 0.3s all linear;
}

.grid-container img:hover {
  transform: scale(1.05);
}

.footer-main1 {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  padding: 4em;
  background-color: var(--color8);
}

.main1-items {
  display: flex;
  flex-direction: column;
  gap: 1.3em;
}

.main1-items h3 {
  color: var(--color1);
  font-size: 1.4rem;
  font-weight: 600;
}

.main1-items ul li {
  list-style: none;
  color: var(--color6);
  cursor: pointer;
  padding-bottom: 0.5em;
  font-weight: 600;
}

.main1-items ul li:hover {
  color: var(--color1);
}

.footer-main2 {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  padding: 1.7em;
  background-color: var(--color7);
}

.footer-logo {
  width: 220px;
  cursor: pointer;
}

.main2-items {
  padding: 0.8em;
  border-right: 1px solid rgb(148, 148, 148);
}

.main2-items-1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-main2-span1 {
  font-size: 0.8rem;
  color: var(--color6);
}

.footer-main2-span2 {
  font-weight: 600;
  color: var(--color6);
}

.main2-items-5 {
  font-weight: 600;
}

.main2-items-6 {
  border: none;
}

.main2-items-6 span {
  color: #161616;
}

.main2-items-6 img {
  width: 15px;
  height: 15px;
  cursor: pointer;
}